/Abridged Blueprints.txt
/Mechanic Description.txt
/Mechanic Pacing.txt
/Overworld Mechanics.txt
/Precise mechanics.txt
/Who to ping.txt
/debug_game.out
/game.out
/newtest.frl
/puzzles
/random thoughts.txt
/rebridge.frl
/test.frl